@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;  }
header{
    width: 100%;
    height: 80px;
    background-color: transparent;
    position: fixed;
    transition: 0.3s;
}
.header-div{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.name{
    font-weight: 700;
    color: white;
}
#hammer-button i{
    font-weight: 700;
    font-size: 28px;
    color: white;
}
.nav-items {
    display: flex;
    gap: 30px;
}
.nav-items div:first-child{
    transition: 1s;
}
.nav-items div:nth-child(2){
    transition: 0.8s;
}
.nav-items div:nth-child(3){
    transition: 0.5s;
}
.nav-items div:nth-child(3){
    transition: 0.3s;
}
.nav-item{
    transform: translateY(-80px);
    color: white;
    font-weight: 90;
    font-size: 20px;
    text-decoration: none;
    
}
.snow-nav-items{
    transform: translateY(0px);
}
main{
    width: 100%;
}

.hero-section{
    width: 100%;
    height: 100dvh;
    background-image: url(../assets/images/background-image.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    top: -0px;
    z-index: -1;
    background-repeat: no-repeat;
    filter: hue-rotate(5deg);

}
.over-lay{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
display: flex;
align-items: center;
justify-content: center;
}

.self{
  color: #44484f;
}
.over-lay div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
font-weight: 700;
font-size: 67px;
color: #42464e;
}
.over-lay div button{
    padding: 10px;
    border-radius: 20px;
    background-color: #594c8d;
  border: none;
  color: white;

}
.about-me-section{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;

}
.about-me-div {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.about-me-div h1{
  color: #695aa6;
  text-align: center;
  padding-bottom: 30px;
}

.about-me-div p{
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  font-weight: bold ;
  font-size: 20px;
}

.about-me-div button{
   font-family: "Open Sans", sans-serif;
    padding: 10px;
    border: 1px solid rgb(105, 90, 166);
    border-radius: 20px;
    font-size: 16px;
    color: rgb(105, 90, 166);
    transition: 0.3s;
}
.about-me-div button:hover{
    background-color: #695aa6;
    color: white;
}
.my-image{
    width: 30%;
    height:70%;
    border-radius: 50%;
}
.project-section{
  width: 75%;
  min-height: 400px;
  margin: 0 auto;
}
.project-section h1{
text-align: center;
}
.project-section p{
  color: rgb(17, 17, 17);
  text-align: center;
  font-family: "Open Sans", sans-serif;
padding-bottom: 20px;
}
.project-section-items{
  width: 100%;
display: flex;
justify-content: space-between;
margin-top: 90px;
margin-bottom: 20px;
min-height: 300px;
gap: 20px;

}
.project-section-item{
  height: 260px;
  width: 260px;
  background-color: transparent;
  border: 1px solid gray;
  position: relative;
  overflow-y: hidden;

}
.project-section-item:hover .project-section-item-div{
  bottom: 0px; /* Moves into view on hover */
  cursor: pointer; /* Changes cursor */
  overflow: visible;
  gap: 20px;
}

.project-section-item-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  justify-content: center;
  position: absolute;
  bottom: -83px;
  transition: bottom 0.5s ease; 
  z-index: -1;

}
.project-section-item-icon{
  width: 100px;
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 100px;

}
.project-section-item-div div:nth-child(2){
  color: #695aa6;
  font-weight: 700;
}
.project-section-item-details{
  padding-left: 20px;
}
.my-skill-setion{
    width: 100%;
    min-height: 700px;
    margin-top: 150px;
}

.my-skill-setion-div{
    width: 75%;
    margin: 0 auto;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.my-skill-setion p, h1{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}
.my-skill-div{
    width: 31%;
    height: 45%;
    border: 1px solid #594c8d;
    background-color: #fff;
    position: relative;

}
.my-skill-div:hover .my-skill-div-details {
    z-index: 1;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease; 
  }
  
  .my-skill-div-details {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgba(224, 221, 232, 0.8); 
    z-index: 1; 
    transform: scale(0); 
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease; 

  }
.my-skill-div img{
    width: 100%;
    height: 100%;

}
  
.my-skill-div-details div:first-child{
    color: #594c8d;
    font-weight: 700;

}
.communication-skill{
    width: 100%;
    height:300px;
    margin-top: 60px;
}
.communication-skill h1{
    text-align: center;
}
.communication-skill-div{
    width: 75%;
    margin: 0% auto;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.communication-skill-div-item{
    width: 25%;
    min-height: 100%;
  border: 1px solid #594c8d;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  transition: 0.5s;
}
.communication-skill-div-item:hover{
    transform: translateY(-10px);
}
.life-skill-section{
    width: 100%;
    height: 250px;
    margin-top: 160px;
}
.life-skill-section-div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    margin: 0 auto;
}
.life-skill-section-div-details{
    position: relative;
}
.life-skill-section-div span{
    position: absolute;
    top: 0px;
    right:20px; 
}
.progress-bar-container {
    width: 100%;
    max-width: 100%;
    height: 20px;
    background-color: #e0dde8; 
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
  }

  .progress-bar {
    width: 50%; 
    height: 100%;
    background-color: #594c8d; 
    transition: width 0.5s ease; 
  }
  .contact-section{
    width: 100%;
    height: 400px;
    margin-top: 140px;
    margin-bottom: 20px;
  }
  .contact-section p{
    text-align: center;
  }
  .contact-section form{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .contact-section form input{
    width: 49%;
    height: 40px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
  }
  .contact-section form textarea{
    width:100%;
    min-height: 200px;
    padding:10px;
    font-family: "Open Sans", sans-serif;
  }
  .contact-section form button{
    padding: 10px;
    border: 1px solid #594c8d;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    transition: 0.3s;
  }
  .contact-section form button:hover{
    background-color: #594c8d;
    color: white;
  }
  footer{
width: 100%;
height: 100px;
margin-top: 40px;
  }
  .footer-div{
    width: 75%;
    border-top: 1px solid gray;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
.social-icons{
    display: flex;
    gap:20px;
}
.social-icons div{
width: 40px;
height: 40px;
display: flex;
color: #424243;
font-size: 28px;
align-items: center;
justify-content: center;
border: 2px solid #424243;
border-radius: 100px;
}
.social-icons div:hover{
    background-color: #594c8d;
    color: white;
    cursor: pointer;
}
.image{
    width:150px;
     height:150px;
     margin-left:5%;
}
.font{
    margin-left:30%;

}
.bg1{
    margin-top: 20px;
    height:20px;
    width:200px;
    background-color:black;
    border-radius:20px;
  }
  .progress1{
   height:20px;
    width:90%;
    background-color:#6A47FF;
    border-radius:20px;
    text-align:right;
    padding-right:10px;
  }
  .bg2{
    margin-top: 20px;
    height:20px;
    width:200px;
    background-color:black;
    border-radius:20px;
  }
  .progress2{
    height:20px;
    width:75%;
    background-color:#6A47FF;
    border-radius:20px;
    text-align:right;
    padding-right:10px;
  }
  .bg3{
    margin-top: 20px;
    height:20px;
    width:200px;
    background-color:black;
    border-radius:20px;
    font-weight: bold white;

  }
  .progress3{
    height:20px;
    width:75%;
    background-color:#6A47FF;
    border-radius:20px;
    text-align:right;
    padding-right:10px;
    font-weight: bold white;
  }
  .bg4{
    margin-top: 20px;
    height:20px;
    width:200px;
    background-color:black;
    border-radius:20px;
  }
  .progress4{
    height:20px;
    width:65%;
    background-color:#6A47FF;
    border-radius:20px;
    text-align:right;
    padding-right:10px;
  }
  .bg5{
    margin-top: 20px;
    height:20px;
    width:200px;
    background-color:black;
    border-radius:20px;
  }
  .progress5{
    height:20px;
    width:50%;
    background-color:#6A47FF;
    border-radius:20px;
    text-align:right;
    padding-right:10px;
  }
  .bg6{
    margin-top: 20px;
    height:20px;
    width:200px;
    background-color:black;
    border-radius:20px;
  }
  .progress6{
    height:20px;
    width:30%;
    background-color:#6A47FF;
    border-radius:20px;
    text-align:right;
    padding-right:10px;
    
}